.genres-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }
  
  .genre-checkbox {
    margin-bottom: 10px;
  }
  
  .genres-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    margin-right: 20px;
  }
  
  .genre-checkbox {
    margin-bottom: 10px;
  }
  